<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    {{>nav}}

    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- right side div -->
            <div class="col-12 main_header_left" id="center">
                <figure>
                    <img src="images/404.png" alt="404-Error" width="400rem" height="350rem">
                </figure>
                <a href="/"><button>Go Back</button></a>
                
            </div>
          </div>
        </div>
      </div>
    </div>

    {{>footer}}
</body>
</html>