<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    {{>nav}}

    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- right side div -->
            <div class="col-md-6 col-12 main_header_right">
                <figure>
                    <img src="images/about.png" alt="zaffer-iqubal">
                </figure>    
            </div>
            <!-- left side div -->
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to About Us</p>
              <h1>I am a <span>Software Engineer</span>, Animator And A Graphic Designer</h1>
              <a href="https://github.com/zaffer-iqubal" target="_blank"><button>ABOUT ME</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{>footer}}
</body>
</html>